.card {
    background: #fff;
}

.title-card {
    color: #fff;
    background: #28c3c4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
}